<nav class="navbar navbar-expand-sm navbar-light bg-body-tertiary">
	<div class="container-fluid">
		<span class="navbar-brand">{{pageTitle}}</span>

		<div class="navbar" id="navbarContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
                        <img class="rounded-circle me-1" width="24" height="24" src="https://github.com/mdo.png" alt=""> 
                    </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem (click)="$event.preventDefault()">Profile</a>
						<a ngbDropdownItem (click)="$event.preventDefault()">History</a>
						<a ngbDropdownItem routerLink="/" (click)="$event.preventDefault()">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
