<nav class="navbar navbar-expand-sm navbar-light bg-body-tertiary">
	<div class="container-fluid">
		<span routerLink="/app" class="navbar-brand">{{pageTitle}}</span>

		<div class="navbar" id="navbarContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill"
						tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
							<circle cx="12" cy="7" r="4"></circle>
						</svg>
					</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a routerLink="/app/profile" ngbDropdownItem>Profile</a>
						<a routerLink="/" ngbDropdownItem>History</a>
						<a (click)="logOut()" ngbDropdownItem>Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>