<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Application scope</h1>
    <p class="col-md-8 fs-4">The application provides the possibility to create a bet or contest by one of the
      interested users. During creation the user fills in the rules and defines the conditions under which one of the
      participants wins. The user then determines who will be the judge and opponent in the bet and invites other users
      to join the bet. During the bet, users can discuss the bet in chat and send photos. After the bet is completed,
      the judge determines the winner.</p>
  </div>
</div>