<nav class="navbar navbar-expand-sm navbar-light bg-body-tertiary">
	<div class="container-fluid">
		<span routerLink="/app" class="navbar-brand">{{pageTitle}}</span>

		<div class="navbar" id="navbarContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill"
						tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
						<avatar [width] = '28' [height] = '28'></avatar>
					</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a routerLink="/app/profile" ngbDropdownItem>Profile</a>
						<a routerLink="/app/history" ngbDropdownItem>History</a>
						<a (click)="logOut()" ngbDropdownItem>Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>