<button class="btn btn-success rounded-pill m-1" type="button" mdbRipple (click)="openLg(single)">
  Resolve
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <polyline points="20 6 9 17 4 12"></polyline>
  </svg>
</button>

<ng-template #single let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Choose winner</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="challengeForm" (ngSubmit)="onSubmit()">

      <div class="container text-center">
        <div class="row d-flex justify-content-around">
          <div class="col">
            <img src="{{creatorProfile.avatar}}" alt="avatar" />
          </div>
          <div class="col">
            <img src="{{opponentProfile.avatar}}" alt="avatar" />
          </div>
        </div>
        <div class="row d-flex justify-content-around">
          <div class="col">
            {{creatorProfile.firstName}}
          </div>
          <div class="col">
            {{opponentProfile.firstName}}
          </div>
        </div>
        <div class="row d-flex justify-content-around">
          <div class="col">
            <div class="checkbox-wrapper-31">
              <input formControlName="creatorCheck" id="creatorCheck" type="checkbox" (change)="onCreatorCheckChange($event)"/>
              <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
              </svg>
            </div>
          </div>
          <div class="col">
            <div class="checkbox-wrapper-31">
              <input formControlName="opponentCheck" id="opponentCheck" type="checkbox" (change)="onOpponentCheckChange($event)"/>
              <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer m-3 justify-content-center">
        <button type="submit" [disabled]="!ifFormValid()" class="btn btn-success"
          (click)="modal.close('Close click')">Submit</button>
      </div>

    </form>
  </div>
</ng-template>