<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex gap-2 justify-content-between">
    <button class="m-2 flex-fill btn btn-primary" type="button" mdbRipple (click)="openLg(single)">
      Create Bet
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
      </svg>
    </button>
  </div>
</div>

<ng-template #single let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Challenge</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="challengeForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="title" class="form-label">Title: </label>
        <input id="title" type="text" class="form-control" formControlName="title" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description: </label>
        <textarea class="form-control" rows="3" id="description" type="text" formControlName="description"
          required></textarea>
      </div>

      <div class="modal-footer" *ngIf="!waiting">
        <button type="submit" [disabled]="!challengeForm.valid" class="btn btn-success"
          (click)="modal.close('Close click')">Submit</button>
      </div>

      <div class="spinner-border" role="status" *ngIf="waiting">
        <span class="visually-hidden">Loading...</span>
      </div>
    </form>
  </div>
</ng-template>
