<ngbd-modal-options (onSubmitEvent)="ngOnInit()"></ngbd-modal-options>

<div class="spinner-border" role="status" *ngIf="waitingCreated">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="my-2 p-3 bg-body rounded shadow-sm" *ngIf="!waitingCreated">
  <div class="d-flex gap-2 justify-content-between">
    <h5 class="m-2 flex-grow-1 border-bottom pb-2 mb-0">Creator:</h5>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize"
      [collectionSize]="challengesCreated.length" (pageChange)='updateStartAndEnd()'
      *ngIf="createdEmpty || challengesCreated.length > pageSize">
    </ngb-pagination>
  </div>

  <div *ngFor="let item of challengesCreated.slice(start, end); trackBy:identify" class="row">
    <inner-challenge routerLink="/app/challenge/{{item.id}}" class="col border rounded-3" [id]="item.id"
      [title]="item.title" [date]="item.date"></inner-challenge>
  </div>

  <div class="text-center" *ngIf="createdEmpty">
    You have not created any challenge...
  </div>
</div>

<div class="spinner-border" role="status" *ngIf="waitingOpponent">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="my-2 p-3 bg-body rounded shadow-sm" *ngIf="!waitingOpponent">
  <div class="d-flex gap-2 justify-content-between">
    <h5 class="m-2 flex-grow-1 border-bottom pb-2 mb-0">Opponent:</h5>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize"
    [collectionSize]="challengesOpponent.length" (pageChange)='updateStartAndEnd()'
    *ngIf="createdEmpty || challengesOpponent.length > pageSize">
    </ngb-pagination>
  </div>
  <div *ngFor="let item of challengesOpponent" class="row">
    <inner-challenge routerLink="/app/challenge/{{item.id}}" class="col border rounded-3" [id]="item.id"
      [title]="item.title" [date]="item.date"></inner-challenge>
  </div>
  <div class="text-center" *ngIf="opponentEmpty">
    Nobody invited you as an opponent...
  </div>
</div>

<div class="spinner-border" role="status" *ngIf="waitingJudge">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="my-2 p-3 bg-body rounded shadow-sm" *ngIf="!waitingJudge">
  <div class="d-flex gap-2 justify-content-between">
    <h5 class="m-2 flex-grow-1 border-bottom pb-2 mb-0">Judge:</h5>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize"
    [collectionSize]="challengesJudge.length" (pageChange)='updateStartAndEnd()'
    *ngIf="createdEmpty || challengesJudge.length > pageSize">
    </ngb-pagination>
  </div>
  <div *ngFor="let item of challengesJudge" class="row">
    <inner-challenge routerLink="/app/challenge/{{item.id}}" class="col border rounded-3" [id]="item.id"
      [title]="item.title" [date]="item.date"></inner-challenge>
  </div>
  <div class="text-center" *ngIf="judgeEmpty">
    Nobody invited you as a judge...
  </div>
</div>