<main>

  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Functional Purpose. <span class="text-body-secondary">It’ll
            blow your mind.</span></h2>
        <p class="lead">The application provides the possibility to create a bet or a competition by one of the
          interested users. During the creation, the user fills in the rules and defines the conditions under which one
          of the participants wins. Then the user defines who will be the judge and opponent in the bet and invites
          other users to the bet. During the bet, users can discuss the bet in chat and send photos. After the bet is
          completed, the judge determines the winner.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Operational purpose. <span class="text-body-secondary">See for
            yourself.</span></h2>
        <p class="lead">The main end users of the developed application are users who are interested in competing with
          their friends in completing tasks.
          To use this application properly, the user will need a personal computer, phone or tablet with the ability to
          input data using a mouse, keyboard or screen with direct input and an internet connection.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Summary of the application area <span
            class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">A web application for organizing bets and contests may be interesting to people who feel the
          need for a new way of communicating with their friends or random users of this application.</p>
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
</main>