<div class="container">

  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <button routerLink="/app" class="btn btn-primary rounded-pill px-3 m-3 d-inline-flex align-items-center"
      type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M19 12H6M12 5l-7 7 7 7" />
      </svg>
      Back
    </button>
  </nav>

  <div class="row gutters-sm">
    <div class="col-md-4 d-none d-md-block">
      <div class="card">
        <div class="card-body">
          <nav class="nav flex-column nav-pills nav-gap-y-1">
            <a (click)="showComponent('profile')" data-toggle="tab"
              [ngClass]="active == 'profile' ? 'nav-item nav-link has-icon nav-link-faded active' : 'nav-item nav-link has-icon nav-link-faded'">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-user mr-2 m-1">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>Profile Information
            </a>
            <a (click)="showComponent('security')" data-toggle="tab"
              [ngClass]="active == 'security' ? 'nav-item nav-link has-icon nav-link-faded active' : 'nav-item nav-link has-icon nav-link-faded'">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-shield mr-2 m-1">
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
              </svg>Security
            </a>
            <a (click)="showComponent('avatar')" data-toggle="tab"
              [ngClass]="active == 'avatar' ? 'nav-item nav-link has-icon nav-link-faded active' : 'nav-item nav-link has-icon nav-link-faded'">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-shield mr-2 m-1">
                <rect x="3" y="3" width="18" height="18" rx="2" />
                <circle cx="8.5" cy="8.5" r="1.5" />
                <path d="M20.4 14.5L16 10 4 20" />
              </svg>Avatar
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header border-bottom mb-3 d-flex d-md-none">
          <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
            <li class="nav-item">
              <a (click)="showComponent('profile')" data-toggle="tab"
                [ngClass]="active == 'profile' ? 'nav-link has-icon active' : 'nav-link has-icon'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg></a>
            </li>
            <li class="nav-item">
              <a (click)="showComponent('security')" data-toggle="tab"
                [ngClass]="active == 'security' ? 'nav-link has-icon active' : 'nav-link has-icon'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-shield">
                  <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                </svg></a>
            </li>
            <li class="nav-item">
              <a (click)="showComponent('avatar')" data-toggle="tab"
                [ngClass]="active == 'avatar' ? 'nav-link has-icon active' : 'nav-link has-icon'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-shield mr-2 m-1">
                  <rect x="3" y="3" width="18" height="18" rx="2" />
                  <circle cx="8.5" cy="8.5" r="1.5" />
                  <path d="M20.4 14.5L16 10 4 20" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body tab-content">
          <div [ngClass]="active == 'profile' ? 'tab-pane active' : 'tab-pane'" id="profile">
            <h6>YOUR PROFILE INFORMATION</h6>
            <hr>
            <form [formGroup]="profileUpdateForm" (ngSubmit)="onUpdateProfile()">
              <div class="form-group">
                <label for="name" class="form-label m-2">Current Name: <b>{{firstName}}</b></label>
                <input type="text" class="form-control" id="name" placeholder="Enter new name" formControlName="name">
              </div>
              <div class="form-group">
                <label for="surname" class="form-label m-2">Current Last Name: <b>{{lastName}}</b></label>
                <input type="text" class="form-control" id="surname" placeholder="Enter new surname"
                  formControlName="surname">
              </div>
              <div class="form-group">
                <label for="status" class="form-label m-2">Current Status: <b>{{status}}</b></label>
                <input type="text" class="form-control" id="status" placeholder="Enter new status"
                  formControlName="status">
              </div>

              <button type="submit" class="btn btn-primary m-2" *ngIf="!waiting">Update Profile</button>

              <div class="spinner-border m-2" role="status" *ngIf="waiting">
                <span class="visually-hidden">Loading...</span>
              </div>

              <button type="reset" class="btn btn-light m-2">Reset Changes</button>
            </form>
          </div>
          <div [ngClass]="active == 'security' ? 'tab-pane active' : 'tab-pane'" id="security">
            <ngbd-alert-selfclosing [type]="'success'" [message]="'Password changed'"
              [events]="onPassSubmited.asObservable()"></ngbd-alert-selfclosing>
            <ngbd-alert-selfclosing [type]="'danger'" [message]="'Error'"
              [events]="onPassError.asObservable()"></ngbd-alert-selfclosing>
            <h6>SECURITY SETTINGS</h6>
            <hr>
            <form [formGroup]="securityUpdateForm" (ngSubmit)="onUpdateSecurity()">
              <div class="form-group">
                <label for="oldPass" class="form-label m-2">Old Password</label>
                <input type="password" class="form-control" id="oldPass" placeholder="Your Old Password"
                  formControlName="oldPass" required>
              </div>
              <div class="form-group">
                <label for="newPass" class="form-label m-2">New Password</label>
                <input type="password" class="form-control" id="newPass" placeholder="Your New Password"
                  formControlName="newPass" required>
                <div class="small text-muted mb-3"
                  *ngIf="!(securityUpdateForm.value.newPass === securityUpdateForm.value.newPass2)">Passwords not
                  matching</div>
              </div>
              <div class="form-group">
                <label for="newPass2" class="form-label m-2">New Password Confirmation</label>
                <input type="password" class="form-control" id="newPass2" placeholder="Repeat Your New Password"
                  formControlName="newPass2" required>
                <div class="small text-muted mb-3"
                  *ngIf="!(securityUpdateForm.value.newPass === securityUpdateForm.value.newPass2)">Passwords not
                  matching</div>
              </div>

              <button type="submit" class="btn btn-primary m-2"
                [disabled]="!securityUpdateForm.valid || !(securityUpdateForm.value.newPass === securityUpdateForm.value.newPass2)"
                *ngIf="!waiting">
                Update Profile
              </button>

              <div class="spinner-border m-2" role="status" *ngIf="waiting">
                <span class="visually-hidden">Loading...</span>
              </div>

              <button type="reset" class="btn btn-light m-2">Reset Changes</button>
            </form>
          </div>
          <div [ngClass]="active == 'avatar' ? 'tab-pane active' : 'tab-pane'" id="avatar">
            <ngbd-alert-selfclosing [type]="'success'" [message]="'Avatar changed'"
              [events]="onAvatarSubmited.asObservable()"></ngbd-alert-selfclosing>
            <h6>AVATAR SETTINGS</h6>
            <hr>
            <form [formGroup]="challengeForm" (ngSubmit)="onChangeAvatar()">
              <div class="container text-center">
                <div class="row d-flex justify-content-around">
                  <div class="col">
                    <img src="https://api.dicebear.com/8.x/notionists/svg?seed=Kiki" alt="avatar" />
                  </div>
                  <div class="col">
                    <img src="https://api.dicebear.com/8.x/notionists/svg?seed=Max" alt="avatar" />
                  </div>
                  <div class="col">
                    <img src="https://api.dicebear.com/8.x/notionists/svg?seed=Scooter" alt="avatar" />
                  </div>
                  <div class="col">
                    <img src="https://api.dicebear.com/8.x/notionists/svg?seed=Cleo" alt="avatar" />
                  </div>
                </div>

                <div class="row d-flex justify-content-around mt-1">
                  <div class="col">
                    <div class="checkbox-wrapper-31">
                      <input formControlName="KikiCheck" id="KikiCheck" type="checkbox"
                        (change)="onKikiCheckChange($event)" />
                      <svg viewBox="0 0 35.6 35.6">
                        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="col">
                    <div class="checkbox-wrapper-31">
                      <input formControlName="MaxCheck" id="MaxCheck" type="checkbox"
                        (change)="onMaxCheckChange($event)" />
                      <svg viewBox="0 0 35.6 35.6">
                        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="col">
                    <div class="checkbox-wrapper-31">
                      <input formControlName="ScooterCheck" id="ScooterCheck" type="checkbox"
                        (change)="onScooterCheckChange($event)" />
                      <svg viewBox="0 0 35.6 35.6">
                        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="col">
                    <div class="checkbox-wrapper-31">
                      <input formControlName="CleoCheck" id="CleoCheck" type="checkbox"
                        (change)="onCleoCheckChange($event)" />
                      <svg viewBox="0 0 35.6 35.6">
                        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                      </svg>
                    </div>
                  </div>
                </div>

              </div>

              <div class="modal-footer m-3 justify-content-center">
                <button type="submit" [disabled]="!ifFormValid()" class="btn btn-success"
                  (click)="onChangeAvatar()">Save</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>