<app-header [pageTitle] = "'On The Spot Challenge'" [logoSrc]="'assets/images/logo.png'" 
(homeEvent)="showComponent('welcome')"
(featuresEvent)="showComponent('features')"
(aboutEvent)="showComponent('about')"/>

<div>

  <div *ngIf="alert == 'active'" class="alert alert-danger form-content row justify-content-center" role="alert">
    Wrong Credentials!
  </div>

  <app-welcome-content *ngIf="componentToShow == 'welcome'" 
  (loginEvent)="proceedToApp()"
  />

  <features-content *ngIf="componentToShow == 'features'"></features-content>

  <about-content *ngIf="componentToShow == 'about'"></about-content>
	
  <app-login-form *ngIf="componentToShow == 'login'" 
    (onSubmitLoginEvent)="onLogin($event)" 
    (onSubmitRegisterEvent)="onRegister($event)"
    (onHideAlert)="hideAlert()"
  />

</div>
