<app-header [pageTitle] = "'On The Spot Challenge'" [logoSrc]="'assets/images/logo.png'" 
(homeEvent)="showComponent('welcome')"
(featuresEvent)="showComponent('features')"
(aboutEvent)="showComponent('about')"/>

<div>

  <ngbd-alert-selfclosing [type]="'danger'" [message]="'Wrong Credentials'" [events]="onCredentialsError.asObservable()"></ngbd-alert-selfclosing>


  <app-welcome-content *ngIf="componentToShow == 'welcome'" 
  (loginEvent)="proceedToApp()"
  />

  <features-content *ngIf="componentToShow == 'features'"></features-content>

  <about-content *ngIf="componentToShow == 'about'"></about-content>
	
  <app-login-form *ngIf="componentToShow == 'login'" 
    (onSubmitLoginEvent)="onLogin($event)" 
    (onSubmitRegisterEvent)="onRegister($event)"
  />

</div>
